@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme inline{
  --font-inter: var(--font-inter);

  --color-bg: var(--color-bg);
  --color-surface: var(--color-surface);
  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);
  --color-text-accent: var(--color-text-accent);
  --color-text-title: var(--color-text-title);
  --color-border: var(--color-border);
  --color-action: var(--color-action);
  --color-action-hover: var(--color-action-hover);
  --color-action-text: var(--color-action-text);
  --color-warning: var(--color-warning);
  --color-gradient: var(--color-gradient-brand);
   --color-brand-lavender: var(--color-brand-lavender);

  /* Spacing Tokens (rem) */
  --spacing-mobile-x: 1.875rem;       /* 30px */
  --spacing-mobile-top: 3.125rem;     /* 50px */
  --spacing-mobile-bottom: 1.875rem;  /* 30px */
  --spacing-card-gap: 1.375rem;       /* 22px */

  /* Typography Tokens (rem) */
  --text-body-sm: 0.875rem;           /* 14px */
  --text-body-base: 1rem;             /* 16px */

  /* Primitive tokens */
 
}

:root {
  --ff-inter: "Inter", sans-serif;

  --color-black: #000000;
  --color-white: #ffffff;
   --color-white: #ffffff;
  --color-black: #000000;

  --color-gray: #374151;
  --color-orange: #f59e0b;

  --color-brand-mint: #83c8d9;
  --color-brand-sun: #ffb53e;
  --color-brand-blush: #ffb8bc;
  --color-brand-lavender: #cdccd0;

  /* Semantic tokens */
  --color-bg: var(--color-black);
  --color-surface: var(--color-white);

  --color-text: var(--color-black);
  --color-text-muted: var(--color-gray);
  --color-text-accent: var(--color-orange);
  --color-text-title: var(--color-white);

  --color-border: var(--color-gray);

  --color-action: var(--color-black);
  --color-action-hover: var(--color-gray);
  --color-action-text: var(--color-white);

  --color-warning: var(--color-orange);

  --color-gradient-brand: linear-gradient(
    to right,
    var(--color-brand-mint),
    var(--color-brand-sun),
    var(--color-brand-blush),
    var(--color-brand-lavender)
  );
}